body {
  background-color: #232323;
}
.nav {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 5px;
}

.nav th {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}
table th img {
  height: 18px;
}
.App {
  display: flex;
  flex-wrap:inherit;
  justify-content:space-around;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 10px;
  border: 2px solid white;
  margin-top: 2px;
  padding: 3px;
}
.editorImg {
  height: 16px;
  width: 18px;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 1px;
}
.editorImg:hover {
  height: 18px;
}
.editor-head {
  display: inline;
  justify-content: center;
  flex: content;
  margin: 0;
}
.editorName {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  color: White;
  margin-bottom: 0;
  float: left;
}

.top-card {
  background-color: #141414;
  margin: 2px;
}
.AceEditor {
  
  line-height: 3vh;
  max-width: 600px!important;
  min-width: 10px !important;
  
}


img {
  height: 25px;
  display: inline;
}
iframe {
  height: 45vh;
  width: 99.5%;
  background-color: aliceblue;
}
.footer {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 550px)  {

.editorName {
    
  padding-left: 40%;
   
}
.App{
  border: 0px solid white;
}
}

