body {
  background-color: #232323;
}
.nav {
  display: flex;
  justify-content: space-around;
  color: white;
  border: 1px solid white;
}
.nav table {
  border-collapse: collapse;
}
.nav th {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  padding: 5px 240px;
}
.App {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid white;
  margin-top: 2px;
}
.top-card {
  background-color: #141414;

  margin: 2px;
}
.AceEditor {
  margin: 2px;
  margin-top: 3%;
  line-height: 3vh;
}

table th img{
  height: 25px;
  display: inline;
}
iframe {
  height: 45vh;
  width: 99.5%;
  background-color: aliceblue;
}
.footer{
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
